.hero-container{
  background-image: url(../../Images/Hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.hero-txt{
  color: var(--Blanco-letra);
  font-weight: bolder;
  font-size: 100px;
}

@media (min-width: 577px) and (max-width:992px){
  .hero-txt{
    font-size: 80px;
  }
}
@media (max-width: 576px){
  .hero-container{
    height: 100vh;
  }
  .hero-txt{
    font-size: 45px;
  }
}