.error-page{
  height: 80vh;
}
.error{
  font-size: 150px;
  color: var(--Azul-oscuro);
}
.error-text{
  color: var(--Azul-oscuro);
}
.error-img{
  height: 80%;
}

@media (min-width: 557px) and (max-width: 993px){
  .error-page{
    height: 85vh;
  }
  .error{
    font-size: 100px;
  }
  .error-img{
    height: 60%;
  }
}

@media (max-width: 556px){
  .error-page{
    height: 78vh;
  }
  .error{
    font-size: 80px;
  }
  .error-img{
    height: 50%;
  }
}