td{
  border-bottom: 1px solid var(--Azul-oscuro);
}
.moneda-img{
  padding-top: 10px;
  width: 30px;
  border-radius: 100%;
}
.red{
  color: red;
}
.green{
  color: green;
}
.btn-fav{
  border: none;
  background-color: transparent;
}
.icon-fav{
  margin-top: -5px;
  color: red;
  font-size: 20px;
}